			<section class="large-display">
                <div class="large-slider-bg"></div>
            </section>
            <section class="container">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Responsive</h2>
                        <p>Proin ut quam eros. Donec sed lobortis diam. Nulla nec odio lacus. Quisque porttitor egestas dolor in placerat. Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus.</p>
                        <div class="da-img"><img class="img-responsive" src="img/parallax_slider/2.png" alt="responsive" /></div>
                    </div>
                    <div class="da-slide">
                        <h2>Using the best</h2>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut dapibus lobortis suscipit. Vivamus sed eros nec odio volutpat lacinia.</p>
                        <div class="da-img"><img class="img-responsive" src="img/parallax_slider/3.png" alt="html5css3" /></div>
                    </div>
                    <div class="da-slide">
                        <h2>Easy to use</h2>
                        <p>Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                        <div class="da-img"><img class="img-responsive" src="img/parallax_slider/1.png" alt="tea" /></div>
                    </div>
                    <!-- <nav class="da-arrows">
                        <span class="da-arrows-prev"><i class="icon-angle-left"></i></span>
                        <span class="da-arrows-next"><i class="icon-angle-right"></i> </span>
                        </nav> --> <!-- uncomment for navagation -->
                </div>
            </section>
            <section class="large-top"></section>
        </article>
        <article class="large-doc">
            <section class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel-title">
                            <!-- Content panel title for padding and border -->
                            <h2>What we do?</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <img class="content-image" src="img/filler/4.jpg" alt="" />
                            <p>Nunc vehicula dapibus auctor ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <img class="content-image" src="img/filler/16.jpg" alt="" />
                            <p>Proin ut quam eros. Donec sed lobortis diam. Ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci consequat semper. Nulla non fringilla diam.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <img class="content-image" src="img/filler/17.jpg" alt="" />
                            <p>Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel-title">
                            <!-- Content panel title for padding and border -->
                            <h2>Our work</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/11.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/10.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/9.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/8.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/7.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="boxgrid slideright">
                                <img class="cover" src="img/filler/6.jpg" alt="" />
                                <h3>Project</h3>
                                <p>Aenean tempus dui<br/><a class="soft-hover" href="portfolio-item.html">More Work</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="content-panel-title">
                            <!-- Content panel title for padding and border -->
                            <h2>Clients</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="content-panel">
                            <!-- Content panel in every span for padding -->
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="img/clients/logo-1.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-2.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-3.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-4.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-5.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-6.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-7.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-8.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-9.png" alt="" />
                                    </li>
                                    <li>
                                        <img src="img/clients/logo-10.png" alt="" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                </section>